@import './_reset.css';
@import './_fonts.css';

html {
  font-family: 'Avenir Next Cyr', Arial, -apple-system, sans-serif;
  font-size: 16px;
}

html, body, #__next {
  margin: 0;
  height: 100%;
  line-height: normal;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

::selection {
  background-color: #d4fdaa;
}